@charset "UTF-8";
body {
  padding-top: 5rem;
  background-color: #202e33;

}
a,a:visited{
  color:#00de00;
}
a:hover{
  color:#009100;
}
a.btn:visited{
  color:#ffffff;
}
.btn-primary {
    background-color: #00de00;
    border-color: #00c400;
}
.btn-primary:hover{
  background-color: #00ab00;
  border-color: #008700;
}

nav.navbar{
  background-color: #202e33;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("../img/header_gradient.png");
}
.outer_container{
  background: url("../img/content_gradient.png") center top no-repeat, url("../img/content_background.png") center top repeat-x;

}
.content {
  margin-top: 0;
  height: 100%;
  color:#ffffff;
}
.jumbotron {
  background-color: rgba(6, 24, 30, 0.65); }

.panel {
  background-color: rgba(6, 24, 30, 0.65); }
.nav-link:hover{
  background-color: #000000;
}

  footer {
    color: #638793;
    background-color: #06181E;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%; }
    footer div.topbar {
      height: 4px;
      background: #079986;
      background: -moz-linear-gradient(left, #079986 0%, #c1e1ec 25%, #71ba05 50%, #1ba173 75%, #079986 100%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, #079986), color-stop(25%, #c1e1ec), color-stop(50%, #71ba05), color-stop(75%, #1ba173), color-stop(100%, #079986));
      background: -webkit-linear-gradient(left, #079986 0%, #c1e1ec 25%, #71ba05 50%, #1ba173 75%, #079986 100%);
      background: -o-linear-gradient(left, #079986 0%, #c1e1ec 25%, #71ba05 50%, #1ba173 75%, #079986 100%);
      background: -ms-linear-gradient(left, #079986 0%, #c1e1ec 25%, #71ba05 50%, #1ba173 75%, #079986 100%);
      background: linear-gradient(to right, #079986 0%, #c1e1ec 25%, #71ba05 50%, #1ba173 75%, #079986 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#079986', endColorstr='#079986',GradientType=1 );
      margin-bottom: 18px; }

#gradients {
  clear: both;
  height: 64px;
  background-color: #202e33;
  margin: 0;
  margin-top: 26px; }
#gradients #row1 {
  height: 2px;
  background: #202e33;
  background: -moz-linear-gradient(left, #202e33 10%, #7aadc1 50%, #202e33 90%);
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #202e33), color-stop(50%, #7aadc1), color-stop(90%, #202e33));
  background: -webkit-linear-gradient(left, #202e33 10%, #7aadc1 50%, #202e33 90%);
  background: -o-linear-gradient(left, #202e33 10%, #7aadc1 50%, #202e33 90%);
  background: -ms-linear-gradient(left, #202e33 10%, #7aadc1 50%, #202e33 90%);
  background: linear-gradient(to right, #202e33 10%, #7aadc1 50%, #202e33 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202e33', endColorstr='#202e33',GradientType=1 ); }
#gradients #row2 {
  height: 10px;
  background: #079986;
  background: -moz-linear-gradient(left, #079986 0%, #c1e1ec 25%, #71ba05 50%, #1ba173 75%, #079986 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #079986), color-stop(25%, #c1e1ec), color-stop(50%, #71ba05), color-stop(75%, #1ba173), color-stop(100%, #079986));
  background: -webkit-linear-gradient(left, #079986 0%, #c1e1ec 25%, #71ba05 50%, #1ba173 75%, #079986 100%);
  background: -o-linear-gradient(left, #079986 0%, #c1e1ec 25%, #71ba05 50%, #1ba173 75%, #079986 100%);
  background: -ms-linear-gradient(left, #079986 0%, #c1e1ec 25%, #71ba05 50%, #1ba173 75%, #079986 100%);
  background: linear-gradient(to right, #079986 0%, #c1e1ec 25%, #71ba05 50%, #1ba173 75%, #079986 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#079986', endColorstr='#079986',GradientType=1 ); }
#gradients #row3 {
  height: 50px;
  background: #aad700;
  background: -moz-linear-gradient(left, #aad700 0%, #96c50d 25%, #aad700 50%, #96c50d 75%, #aad700 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #aad700), color-stop(25%, #96c50d), color-stop(50%, #aad700), color-stop(75%, #96c50d), color-stop(100%, #aad700));
  background: -webkit-linear-gradient(left, #aad700 0%, #96c50d 25%, #aad700 50%, #96c50d 75%, #aad700 100%);
  background: -o-linear-gradient(left, #aad700 0%, #96c50d 25%, #aad700 50%, #96c50d 75%, #aad700 100%);
  background: -ms-linear-gradient(left, #aad700 0%, #96c50d 25%, #aad700 50%, #96c50d 75%, #aad700 100%);
  background: linear-gradient(to right, #aad700 0%, #96c50d 25%, #aad700 50%, #96c50d 75%, #aad700 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aad700', endColorstr='#aad700',GradientType=1 ); }
#gradients #row4 {
  height: 4px;
  background-color: #78960a; }
#gradients #row5 {
  height: 0px;
  background-color: #2f3817; }

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
